{{#if clickAddAnswer}}
<div >
  <h3>Add an Answer: </h3>
  <form id="newAnswer">

    <div class="form-group">
      <label for="authorAnswer">Username:</label>
      {{input class="form-control" value=authorAnswer id="authorAnswer"}}
    </div>

    <div class="form-group">
      <label for="words">Answer:</label>
      {{textarea rows=4 class="form-control" value=answer id="answer"}}
    </div>

    <div class="form-group rating">
      <label for="rating">Rating This Question</label>
        {{#x-select value=rating}}
          {{#x-option value=-1}}<span>&#10004;</span>{{/x-option}}
          {{#x-option value=1}}<span>&#10008;</span>{{/x-option}}
        {{/x-select}}
    </div>
    <button class="btn btn-lg btn-default btn-success" {{action "newAnswer"}}>Submit Answer</button>
  </form>
</div>
{{else}}
<button class="btn btn-lg btn-default" {{action "clickAddAnswer"}}>Add Answer</button>
{{/if}}
