<div class="row">
  <div class="col-sm-7">
    {{question-detail question=model}}
    {{add-answer question=model newAnswer="newAnswer"}}
  </div>
  <div class="col-sm-5">
    {{update-question question=model updateQuestion="update"}}
  </div>
</div>
{{#each model.answers as |answer|}}
  <p>{{answer.authorAnswer}} thinks the answer is: {{answer.answer}}</p>
{{/each}}
